<!-- Use ERB tags to create a variable name. This variable should store the name Joe.  -->
<% name = "Joe" %>

<!-- Then, using ERB tags, say "Goodbye Joe" in an h1 tag -->
<h1>Goodbye <%= name %></h1>
