<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Views Lab</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <p>This HTML code is inside a '.erb' file in the view directory, index file.</p>
  </body>
</html>
